{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baseball Cards</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <h1><a href="{% url 'home' %}">Baseball Card Collector</a></h1>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'card-index' %}">All Cards</a></li>
          <li><a href="{% url 'stat-index' %}">Player Stats</a></li>
          <li><a href="{% url 'sale-index' %}">What Just Sold?!</a></li>
          <li><a href="{% url 'card-create' %}">Add Card</a></li>
          <li><a href="{% url 'sale-create' %}">Add a Sale</a></li>
           <li><a href="{% url 'about' %}">About</a></li>
          
            <li>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>

          {% else %}

          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2029 Baseball Cards App</p>
    </footer>
  </body>
</html>
