{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/cards/card-detail.css' %}" />
{% endblock %}
{% block content %}
<section class="card-container">
  <div class="card-img">
    <img src="{% static 'images/' %}{{ card.image_filename }}" alt="{{ card.name }} card" />
  </div>
  <div class="card-details">
    <h1>{{ card.name }}</h1>
    <h2>{{ card.brand }} — {{ card.year }}</h2>
    <p><strong>Condition:</strong> {{ card.condition }}</p>
    <p><strong>Price:</strong> ${{ card.price|floatformat:0 }}</p>
    <p>{{ card.description }}</p>
    <a href="{% url 'card-index' %}" class="back-link">← Back to all cards</a>
  </div>


  <div class="card-actions">
    <a href="{% url 'card-update' card.id %}" class="btn warn">Edit</a>
    <a href="{% url 'card-delete' card.id %}" class="btn danger">Delete</a>
  </div>
</section>
{% endblock %}
