{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/cards/card-index.css' %}" />
{% endblock %}
{% block content %}
<section class="card-container">
  {% for card in cards %}
  <div class="card">
    <a href="{% url 'card-detail' card.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img src="{% static 'images/' %}{{ card.image_filename }}" alt="{{ card.name }} card" />
        </div>
        <h2>{{ card.name }}</h2>
        <p>{{ card.brand }} — {{ card.year }}</p>
        <p>${{ card.price|floatformat:0 }}</p>
        <p><small>{{ card.description }}</small></p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
{% endblock %}
